<div class="row" data-reply-comment-id="{{{replyCommentId}}}">
	<div class="col-md-2 user-comments col-md-offset-2">
		<div class="project user-image-container">
			<img src="{{{userImageUrl}}}" class="user-image img-responsive" alt="User image"/>
		</div>
		<span class="comment-date">{{{commentDate}}}</span>
	</div>
	<div class="col-md-8 user-comment-balloon reply-comment">
		<div class="comment-container">
			<div class="comment-meta commentmetadata">
				<span class="fn">{{{username}}}</span>
				says:
			</div>
			<div class="comment-content">
				<p>
					{{{commentContent}}}
				</p>
				<a href="#" class="readmore more-comments pull-right"><span>Read More</span></a>
			</div>
		</div>
		<div class="comment-arrow hidden-xs hidden-sm"></div>
	</div>
</div>
